#navContainer {
    height: 50px;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    background-color: var(--secondary);
    z-index: 1;
}

#logo {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 50px;
}

#navLinkContainer{
    position: absolute;
    top: 35px;
    left: 240px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navLink {
    color: var(--white);
    text-decoration: none;
    font-size: 15px;
}

.navLink:hover {
    color: var(--accent);
    text-decoration: underline;
    transition: 0.5s ease;
}