{% extends 'shared/base.html' %}
{% block content %}

    <h1>Welcome to the City of Knoxville Neighborhood Organization Portal</h1>
<p>The Office of Neighborhoods offers a wide variety of activities, programs, and services to support resident-led, resident-controlled, democratically run neighborhood organizations in the City of Knoxville.

Many people have questions about how to help in their neighborhoods with the current COVID 19 crisis.  We have compiled a couple of different resources for you to visit.  One is for your neighbors in the immigrant community with general information and one is for the seniors (also with general information) in your neighborhood along with general information.  Our Food Policy team has put together a flyer about food access and CAC has put together a flyer about how to prevent being scammed. 

Annual Conference:  Amid growing concerns of the COVID 19 virus, The Neighborhood Conference has been cancelled. However, we have the privilege of working with amazing sponsors, who have asked us to keep their sponsorship money to either help recognize the nominees for Neighbor of the Year, Officer Liaison of the Year, and Neighborhood Achievement Awards later this year OR for The 2021 Neighborhood Conference.  They are: Three Rivers Market, Home Federal, Compass, Mast General Store, and Sanders Pace Architecture. 
  
Awards: The Good Neighbor of the Year Award recognizes outstanding commitment and service to neighbors and to community building activities. The winner will be announced by Mayor Kincannon later this year. The Neighborhood Achievement Awards recognize the work of the city's neighborhood organizations in improving, protecting, and enhancing our residential neighborhoods. These groups will also be recognized later this year.  As soon as there is a plan, we will let everyone know.

Blighted Property:  Staff from the Office of Neighborhoods and the Neighborhood Codes Enforcement Office are currently developing a two pronged neighborhood approach to remediating blight.  The first, a short term approach, is detailed in our new Neighborhood Give Day Guide.  The second is a long term approach, which is also a guide describing ways neighborhoods can be proactive to improve their neighborhood.  Both are still being tweaked but will be available early in 2020.  Our office can also plan workshops to address blighted properties. Contact Debbie Sharp at dsharp@knoxvilletn.gov or 215-4382 for more information.  To report a blighted property, call 311 first.  To follow up on a blighted property that does not seem to be improving, fill out the Blighted Property Profile and email it to Cheri Burke at cmburke@knoxvilletn.gov.

Consultation Services: Staff from the Office of Neighborhoods is available to assist individual neighborhood leaders and boards on the issues and challenges facing neighborhood groups. We also assist those who wish to start a new neighborhood group in an unorganized neighborhood.

Directory: If you are a neighborhood person looking for your neighborhood contact, a developer trying to reach a contact in the neighborhood, a political candidate that would like to speak at a neighborhood meeting, or City staff needing to reach out to a neighborhood contact, please call the Office of Neighborhoods at 215-3232, for this information. 

Emergency Preparedness: Our Emergency Preparedness Program raises awareness, provides speakers from various emergency agencies, and helps neighborhoods develop disaster preparedness plans at the block and neighborhood levels. The program also supports a network of neighborhood contacts who serve as liaisons to emergency services during a widespread disaster. 

The Neighborhood Small Grants Program provides competitive grants to neighborhood organizations in the city. The goal of the program is to improve quality of life in the neighborhood while building the capacity of the neighborhood organization to better serve the community. Grant applications and guidelines for the year 2021 are now available.   

Leadership Training:  "Building Strong Neighborhood Organizations (BSNO)" is a training series which works to give neighborhood members tools to strengthen their groups.  This is a leadership training class for anyone living in the city currently wanting to learn, who is already in a neighborhood organization or anyone wishing to start a neighborhood organization. This course is free and snacks are provided.    

Maps: Maps of the boundaries of city neighborhood organizations — along with contact information for these groups — can be found in this KGIS Neighborhood Groups Viewer.

Neighborhood Input:  The Neighborhood Advisory Council provides advice and input to the City Administration, including the Office of Neighborhoods, on topics important to Knoxville's residential neighborhoods.

Neighborhood Revitalization: The Office of Neighborhoods works with various city departments that grapple with abandoned, blighted, and vacant properties, both residential and commercial, that present a challenge to residential neighborhoods. See Blight above for ways neighborhoods can address this opportunity.   

Neighborhood Signs: Learn how to receive a city permit for a neighborhood entrance sign.

Neighborhood Events in City Parks/Facilities: For your neighborhood organization's convenience, here is a quick overview of how to reserve a spot in a City Park/Facility for your neighborhood events.   

Neighborhood Workshops: Workshops on a variety of topics are offered on a monthly basis. The Office of Neighborhoods welcomes your ideas for workshop topics. Call Debbie Sharp at 215-4382 or Take our survey.  

Newsletter: The Knoxville Neighborhood Advisory is an "almost weekly" newsletter that provides news and tips important to Knoxville's resident-led, resident-controlled neighborhood organizations.

Officer Liaison Awards: The Office of Neighborhoods with the partnership of Knoxville Police Department would like to start Officer Liaison of the Year Award. The 2019, and innaugual, winner was Officer Eric Parks, who is the Officer Liaison working with Norwood Community Association.     

Traffic Calming:  The Neighborhood Traffic Safety Program is a collaboration among neighborhoods, the Engineering Department, the Police Department, and the Office of Neighborhoods to address speeding on local streets in residential neighborhoods.

If you have a suggestion for the Office of Neighborhoods or for this Website, please contact us.</p>
{% endblock content %}