{% extends 'shared/base.html' %}
{% block content %}

    <h3>Welcome to the City of Knoxville Neighborhood Organization Portal</h3>
    </br>
    </br>
    </br>
    <h5>In this portal is a list of neighborhood organizations and their details that are located within the city limits of Knoxville and registered with the Office of Neighborhoods.</h5>
    </br>
    </br>
    </br>
    <h5>If you have a suggestion for the Office of Neighborhoods or for this Website, please contact us:</h5>
    </br>
    <p>Mailing Address:</p>
    <p>c/o Community Development</p>
    <p>P.O. Box 1631</p>
    <p>Knoxville TN 37901</p>
    <p>Fax: 865-215-2962</p>
    </br>
    <p>Debbie Sharp</p>
    <p>Neighborhood Coordinator</p>
    <p>Suite 546, City-County Building</p>
    <p>dsharp@knoxvilletn.gov</p>
    <p>865-215-3232</p>

{% endblock content %}