{% extends 'base.html' %}

{% block content %}

    <h1>Search</h1>

    <form action="{% url 'neighborhoodApp:search' %}" method="get">
        {% csrf_token %}

    <select id="search" name="search">
        <option value="" disabled selected>Select</option>
        <option value="district">City Council District</option>
        <option value="org_type">Neighborhood Organization Type</option>
        <option value="neighborhood_name">Neighborhood Name</option>
        <option value="resident_name">Resident Name</option>
        <option value="day">Meeting Day</option>
        <option value="is_active">Active Organization</option>
    </select>
    <input type="text" name="search-criteria">
    <input type="hidden" name="search-form">
    <button type="submit">Search</button>

    </form>

{% endblock %}