{% extends 'shared/base.html' %}

{% block content %}
    <div><h1>City of Knoxville</h1></div>

    <div><h2>Neighborhood Directory</h2></div>

    <div>
        {% for area in areas %}
            <h3>{{area}} Knoxville:</h3>
            {% for org in orgs %}
                {% if org.boundary == area %}
                    <p><a href="{% url 'neighborhoodApp:neighborhood' org.id %}">{{org.name}} (District {{org.district}})</a></p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    <div>
        <form action="/neighborhood/form">
            <input type="submit" value="Add a Neighborhood Organization" />
        </form>
    </div>

{% endblock content %}