{% extends 'shared/base.html' %}

{% block content %}
    <div><h3>City of Knoxville</h3></div>
    </br>
    <div><h4>{{resident.first_name}} {{resident.last_name}}</h4></div>

    <div>
        </br>
        <section>
            <h5>{{resident.organization_position}} of: </h5>
            <p>{{org}}</p>
            </br>
             <h5>Contact info:</h5>
             <p><a target="_blank" href="mailto:{{resident.email}}">{{resident.email}}</a></p>
             <p>{{resident.phone}}</p>
        </section>
        </br>
        <h5>Subscription:</h5>
        <p>{{subscribed}}</p>
        </br>
        <form action="{% url 'neighborhoodApp:residents' %}" method="get">
            {% csrf_token %}
            <button type="submit">Back</button>
        </form>
    </div>

{% endblock content %}