{% extends 'shared/base.html' %}

{% block content %}

    <h3>City of Knoxville</h3>
    </br>
    <h4>Add a New Resident</h4>
    </br>
    <h5>To {{ org.name }}:</h5>
    </br>
    <div class="row">
    <div class="col s12 m6">
    <form action="{% url 'neighborhoodApp:residents' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col m6">
                <label for="first_name">First Name </label>
                <input required id="first_name" type="text" name="first_name">
            </div>
            <div class="input-field col m6">
                <label for="last_name">Last Name </label>
                <input required id="last_name" type="text" name="last_name">
            </div>
        </div>
        <div class="row">
            <div class="input-field col m6">
                <label for="email">Email </label>
                <input required id="email" type="email" min="1" class="validate" name="email">
                <span class="helper-text" data-error="Invalid Email"></span>
            </div>
            <div class="input-field col m6">
                <label for="phone">Phone Number </label>
                <input required id="phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone" class="validate" placeholder="">
                <span class="helper-text" data-error="Invalid Phone Number"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col m6">
                <label for="address_1">Street Address </label>
                <input required id="address_1" type="text" name="address_1">
            </div>
            <div class="input-field col m6">
                <label for="address_2">Apt/PO Box </label>
                <input id="address_2" type="text" name="address_2">
            </div>
            <div class="input-field col m6">
                <label for="city_state">City, State </label>
                <input required id="city_state" type="text" name="city_state" value="{{city_state}}">
            </div>
            <div class="input-field col m6">
                <label for="zip_code">Zip Code </label>
                <input required id="zip_code" type="number" name="zip_code">
            </div>
        </div>
        <input type="hidden" name="neighborhood_org_id" value={{org.id}}>
        <div class="input-field">
            <label for="organization_position">Organization Position </label>
            <input required id="organization_position" type="text" name="organization_position">
        </div>
        <div>
            <p>Subscribe to Knoxville City newsletter? </p>
            <br>
            <label for="yes">
            <input type="radio" id="yes" name="subscription" value="yes" checked>
            <span>Yes</span>
            </label>
            <br>
            <label for="no">
            <input type="radio" id="no" name="subscription" value="no">
            <span>No</span>
            </label><br>
        </div>
        
        </br>
        <input type="submit" class="btn amber darken-2" value="Add" />
        <a href="{% url 'neighborhoodApp:neighborhood' org.id %}" class="btn amber darken-2">Cancel</a>
    </form>
    </div>
    </div>
    {% comment %} <div class="cancel-button-container">
        <form action="{% url 'neighborhoodApp:neighborhood' org.id %}" method="get">
            {% csrf_token %}
            <button type="submit">Cancel</button>
        <form>
    </div> {% endcomment %}

{% endblock content %}