{% extends 'shared/base.html' %}

{% block content %}
    <div><h3>City of Knoxville</h3></div>
    </br>
    <div><h4>Resident Directory</h4></div>
    </br>
    <div>
        <form action="/mailinglist">
            <input type="submit" value="See the Newsletter Mailing List" />
        </form>
    </div>
    </br>
    <div>
        <h5>{{area}} Knoxville:</h5>
        {% for resident in residents %}
            <p><a href="{% url 'neighborhoodApp:resident' resident.id %}">{{resident.first_name}} {{resident.last_name}}</a> - {{resident.neighborhood_org_id.name}}</p>
        {% endfor %}
    </div>

{% endblock content %}