{% extends 'shared/base.html' %}

{% block content %}
    <div><h1>City of Knoxville</h1></div>
    </br>
    <div><h2>Newsletter Mailing List</h2></div>
    </br>
    <div>
        <h3>Contacts:</h3>
        {% for resident in mail %}
            {% if resident.address_2 %}
                <p>{{resident.first_name}} {{resident.last_name}} - {{resident.address_1}} {{resident.address_2}}, {{resident.city_state}} {{resident.zip_code}}</p>
            {% else %}
                <p>{{resident.first_name}} {{resident.last_name}} - {{resident.address_1}}, {{resident.city_state}} {{resident.zip_code}}</p>
            {% endif %}
        {% endfor %}
    </div>
    </br>
    <form action="{% url 'neighborhoodApp:residents' %}" method="get">
        {% csrf_token %}
        <button type="submit">Back</button>
    </form>

{% endblock content %}