{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>City of Knoxville</title>

    <link rel="stylesheet" href="{% static 'styles/base.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'styles/nav.css' %}" type="text/css" media="screen" />
    {% block css %}
    {% endblock %}

</head>

<body>
    <nav id="navContainer">
        <a href="{% url 'neighborhoodApp:home' %}"><img id="logo" src="{% static 'images/knoxlogo.png' %}" alt="logo"></a>
        <div id="navLinkContainer">
            <a class="navLink" href="{% url 'neighborhoodApp:neighborhoods' %}">Neighborhood Directory</a>
            <a class="navLink" href="{% url 'neighborhoodApp:mailinglist' %}">Mailing List</a>
            <a class="navLink" href="{% url 'neighborhoodApp:home' %}">Search</a>
            <a class="navLink" href="{% url 'neighborhoodApp:neighborhood_form' %}">Add Neighborhood</a>
            {% if user.is_authenticated %}
                <a class="navLink" href="{% url 'neighborhoodApp:home' %}">Log Out</a>
            {% else %}
                <a class="navLink" href="{% url 'neighborhoodApp:home' %}">Log In</a>
            {% endif %}    
            
        </div>
    </nav>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}

    {% endblock scripts %}

</body>

</html>